[package]
name = "robin-sparkless"
version = "0.1.0"
edition = "2021"

[lib]
name = "robin_sparkless"
crate-type = ["rlib"]

[dependencies]
polars = { version = "0.45", features = ["lazy", "csv", "parquet", "json", "temporal", "strings", "concat_str", "dtype-categorical", "dtype-date", "dtype-datetime", "dtype-duration", "dtype-time", "rank"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
anyhow = "1.0"
thiserror = "1.0"

[dev-dependencies]
polars = { version = "0.45", features = ["lazy", "csv", "parquet", "json", "temporal", "strings", "concat_str", "dtype-categorical", "dtype-date", "dtype-datetime", "dtype-duration", "dtype-time", "test", "rank"] }
tempfile = "3"
